<!DOCTYPE html>
<html lang="en" class="no-js"  xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset="utf-8">
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>
        <link rel="stylesheet" th:href="@{/pageResources/css/reset.css}">
        <link rel="stylesheet" th:href="@{/pageResources/css/supersized.css}">
        <link rel="stylesheet" th:href="@{/pageResources/css/loginstyle.css}">
        <link rel="stylesheet" th:href="@{/pageResources/assets/vendor/toastr/toastr.min.css}" >

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <style>
            body {
                color:white;

            }
            #captcha {
                width: 300px;
                display: inline-block;
            }
            .hide {
                display: none;
            }
            #notice {
                color: red;
            }
            label {
                vertical-align: top;
                display: inline-block;
                width: 80px;
                text-align: right;
            }


        </style>
    </head>


    <body>

        <div class="page-container" >
            <h1>Login</h1>
            <form action="/user/login" method="post" onsubmit="return sub()">
                <input type="text" name="username" class="username" placeholder="Username" required>
                <input type="password" name="password" class="password" placeholder="Password" required>
                <div class="form-group">
                    <label class="sr-only" ></label>
                    <div id="captcha" style="width: 100%;">
                    </div>
                </div>
                <p id="notice" class="hide">请先完成验证</p>
                <button type="submit" id="submit">登陆</button>
                <div class="error"><span>+</span></div>
            </form>
            <div class="connect">
                <p>没有账号？</p>
            </div>
            <a href="/user/registerEntrance">立即注册[[${msg}]]</a>
        </div>


        <!-- Javascript -->
        <script th:src="@{/pageResources/js/jquery-1.8.2.min.js}"></script>
        <script th:src="@{/pageResources/js/supersized.3.2.7.min.js}"></script>
        <script th:src="@{/pageResources/js/supersized-init.js}"></script>
        <script th:src="@{/pageResources/js/loginscripts.js}"></script>
        <script th:src="@{/pageResources/js/gt.js}"></script>
        <script th:src="@{/pageResources/toastr/toastr.js}"></script>
    <script th:inline="javascript">
        function sub() {
            return true;
        }
        $(document).ready(function(){
            //ajax先拿到后台数据
            /*<![CDATA[*/
            var msg = [[${msg}]];
            //toastr.error(msg);
            if(msg!=null){
                toastr.error(msg);
            }
            /*]]>*/


        });
        var handler = function (captchaObj) {
            $("#submit").click(function (e) {
                var result = captchaObj.getValidate();
                if (!result) {
                    $("#notice").toggleClass("hide");
                    e.preventDefault();
                }
            });
            // 将验证码加到id为captcha的元素里，同时会有三个input的值用于表单提交
            captchaObj.appendTo("#captcha");
            captchaObj.onReady(function () {
                $("#wait").hide();
            });
            // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html

        };
        $.ajax({
            url: "/system/loginVerify?t=" + (new Date()).getTime(), // 加随机数防止缓存
            type: "get",
            dataType: "json",
            success: function (data) {
                // 调用 initGeetest 初始化参数
                // 参数1：配置参数
                // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它调用相应的接口
                initGeetest({
                        gt: data.gt,
                        challenge: data.challenge,
                        new_captcha: data.new_captcha, // 用于宕机时表示是新验证码的宕机
                        offline: !data.success, // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                        product: "float", // 产品形式，包括：float，popup
                        width: "100%"
                        // 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config

                    }, handler
                );
            }
        });

    </script>
    </body>

</html>

